*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins',sans-serif;
    /* background-color: #0D121C; */
    background: #0C111B;
    /* background-color: #071E33; */
}